.facts-container {
  position: relative;
  background: transparent;

  .custom-shape-divider-top-1743000408 {
    position: absolute;
    overflow: hidden;
    line-height: 0;
    fill: var(--bg-color);
    width: calc(100% + 2 * clamp(10px, 5vw, 50px));
    left: 50%;
    transform: translateX(-50%);

    svg {
      height: 25px;
      width: 100%;
    }
  }

  .custom-shape-divider-bottom-1743000829 {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    line-height: 0;
    fill: var(--bg-color);
    width: calc(100% + 2 * clamp(10px, 5vw, 50px));
    left: 50%;
    transform: translateX(-50%);

    svg {
      position: relative;
      display: block;
      height: 25px;
      width: 100%;
    }
  }

  & > .header {
    margin-top: 40px;
  }

  .content-container {
    width: 100%;

    @media (max-width: 600px) {
      .fact-points {
        grid-template-columns: repeat(1, minmax(350px, 1fr)); /* eine Spalte für kleinere Bildschirme */
      }
    }

    @media (min-width: 601px) {
      .fact-points {
        grid-template-columns: repeat(2, minmax(255px, 1fr)); /* zwei Spalten für größere Bildschirme */
      }
    }

    .fact-points {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 100%;
      display: grid;
      justify-content: center;
      grid-gap: clamp(20px, 2vw, 35px);
      padding: 0 2px 2px 2px;
      margin-bottom: 40px;
      width: fit-content;
    }

    .evaluation-points {
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: 15px;
      padding: 0 2px 2px 2px;
      margin-bottom: 40px;
    }
  }
}

.facts-container::after {
  position: absolute;
  content: "";
  width: calc(100% + 2 * clamp(10px, 5vw, 50px));
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), linear-gradient(171.62deg, var(--secondary-color) 26.1%, var(--primary-color) 86.17%);
}


.fact-point-content#fiverr .content {
  width: 100%;
  height: 100%;
  padding: 0 0 10% 0;

  p {
    margin-top: 5%;
    font-size: clamp(25px, 10vw, 40px);
  }
}

.fact-point-content#customer .content {
  width: 100%;
  height: 100%;
  padding: 0 0 10% 0;

  div {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 5%;

    p {
      text-align: center;
      line-height: 1;
      font-size: clamp(1.75rem, 3vw, 2.25rem);
    }
  }

}

.fact-point-content#completion .content {

  width: 100%;
  height: 100%;
  padding: 0 0 10% 0;

  & > div {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-gap: 5%;
    & > p {
      text-align: center;
      line-height: 1;
      font-size: clamp(1.75rem, 3vw, 2.25rem);
    }
  }
}

.fact-point-content#ideenExpo img {
  width: 90%;
  height: 100%;
  border-radius: 5px;
}
